.places{
    color: #2a2a2a;
}

.places h1{
    text-align: left;
    font-size: 28px;
    margin-bottom: 24px;
    
}

.places article{
    width: 390px;
    /*padding: 20px;
    margin: 20px;*/
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}

img{
    max-width: 100%;
    height: auto;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.information{
    margin-top: 12px;
    padding-left: 20px;
    margin-bottom: 16px;
}

.information h2{
    font-size: 16px;
    line-height: 28px;
}

.information p{
    line-height: 24px;
}